.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #f3f4f6;
}

.card {
    padding: 24px;
    max-width: 400px;
    width: 100%;
    color: #1a3b5d !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .title {
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
    }

}

