/* Styles généraux */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
}

/* Header */
.header, .footer {
    width: 100%;
    color: white;
    flex-shrink: 0;
}

/* Conteneur principal centré */
.body-site {
    display: flex;
    flex: 1;
    justify-content: center; /* Centre le contenu horizontalement */
}

/* Contenu centré avec une largeur max */
.container {
    display: flex;
    flex: 1;
    max-width: 1400px; /* Largeur max du site */
    width: 100%; /* Prend toute la largeur jusqu'à max-width */
}

/* Sidebar */
.side-nav {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
    margin: 1rem;
}

/* Contenu principal */
.content {
    display: flex;
    flex: 1;
    min-height: 0;
}

/* Main card (zone principale) */
.main {
    flex: 1; // Prend tout l'espace dispo après la side-nav
    overflow-y: auto;
    margin: 1rem;
}

@media (max-width: 768px) {
    .body-site {
        display: flex;
        flex: 1;
        flex-direction: column; /* Force un affichage en colonne */
        align-items: center; /* Centre les éléments en mode colonne */
    }

    .container {
        flex-direction: column; /* Force l'affichage en colonne */
        align-items: center; /* Centre les éléments */
    }

    .content {
        width: 100%;
    }

    .side-nav {
        width: 100%;
        order: 1;
        flex: 1;
    }

    .main {
        order: 2;
        flex: 1;
        min-height: 300px;
    }
}
