.courses-card {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-container {
    width: 100%;
    height: 200px; /* Ajuste la hauteur de l'image selon le besoin */
    overflow: hidden; /* Évite le débordement */
    border-radius: 15px 15px 0 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

mat-icon {
    font-size: 20px;
    width: 24px;
    height: 24px;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 8px;
}

.chip-container {
    position: absolute;
    top: 8px;
    right: 8px;
}

mat-chip {
    font-size: 14px;
    font-weight: bold;
}

.button-reservation {
    background-color: #e1e9f4;
    color: black;
    border-radius: 15px;

    &:hover {
        background-color: #1a3b5d;
        color: white;
    }
}


.chip-initiation {
    background-color: rgba(76, 175, 80, 0.10) !important; // Vert pour Initiation
    &:disabled {
        background-color: rgba(76, 175, 80, 0.10) !important;
    }
}

.chip-sortie {
    background-color: rgba(255, 152, 0, 0.10) !important; // Orange pour Sortie
    &:disabled {
        background-color: rgba(255, 152, 0, 0.10) !important;
    }
}

.chip-entrainement {
    background-color: rgba(63, 81, 181, 0.10) !important; // Bleu pour Entraînement
    &:disabled {
        background-color: rgba(63, 81, 181, 0.10) !important;
    }
}

.chip-regate {
    background-color: rgba(244, 67, 54, 0.10) !important; // Rouge pour Régate
    &:disabled {
        background-color: rgba(244, 67, 54, 0.10) !important;
    }
}
