// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Define the theme object.
$reservations-snv-theme: mat.define-theme(
        (
            color: (
                theme-type: light,
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            density: (
                scale: 0,
            ),
        )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
    @include mat.all-component-themes($reservations-snv-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($reservations-snv-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($reservations-snv-theme);
/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
    background-color: #f3f4f6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 1024px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 100%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.column {
    flex: 1;
    min-width: 250px;
}

button,
input {
    width: 100%;
    max-width: 300px;
}

app-header {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    app-header {
        flex-direction: column;
        text-align: center;
    }
}

app-calendar {
    overflow-x: auto; // Permet un scroll horizontal sur mobile si besoin
}

@media (max-width: 768px) {
    app-calendar {
        display: block;
        width: 100%;
    }
}

/* Styles généraux */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
}

/* Header */
.header,
.footer {
    width: 100%;
    color: white;
    flex-shrink: 0;
}

/* Conteneur principal centré */
.body-site {
    display: flex;
    flex: 1;
    justify-content: center; /* Centre le contenu horizontalement */
}

/* Contenu centré avec une largeur max */
.container {
    display: flex;
    flex: 1;
    max-width: 1400px; /* Largeur max du site */
    width: 100%; /* Prend toute la largeur jusqu'à max-width */
}

/* Sidebar */
.side-nav {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
    margin: 1rem;
}

/* Contenu principal */
.content {
    display: flex;
    flex: 1;
    min-height: 0;
}

/* Main card (zone principale) */
.main {
    flex: 1; // Prend tout l'espace dispo après la side-nav
    overflow-y: auto;
    margin: 1rem;
}

@media (max-width: 768px) {
    .body-site {
        display: flex;
        flex: 1;
        flex-direction: column; /* Force un affichage en colonne */
        align-items: center; /* Centre les éléments en mode colonne */
    }

    .container {
        flex-direction: column; /* Force l'affichage en colonne */
        align-items: center; /* Centre les éléments */
    }

    .content {
        width: 100%;;
    }

    .side-nav {
        top: unset;
        width: 100%;
        order: 1;
        flex: 1;
    }

    .main {
        order: 2;
        flex: 1;
        min-height: 300px;
        overflow-y: hidden;
    }
}

.background-app {
    background: rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
    background: transparent; /* Make the background transparent */
}

body::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Border radius of the scrollbar thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}
